---

title: Projects
---

<article class="post">

<div class="post-content">
	A few of my projects.

	<div class="projects row">
		{% include project_tags.html %}

		{% for project in site.projects reversed  %}
			{% if project.show %}
				<div class="project-item col-md-4 col-sm-6 col-xs-12" data-tags='{{ project.tags | jsonify | downcase }}'>
					<div class="well project-outer">
						<div class="project-inner">
							<!-- <a href="/static/projects/{{ project.image }}" class="thickbox"> -->
							<!-- <div class="project-img bordered" style="background-image: url('/static/projects/{{ project.image }}');"></div>
							</a> -->
							<!-- <p>{{ project.image | prepend: site.baseurl }}</p> -->
							<img src="{{ project.image | prepend: site.baseurl }}" class=" img-thumbnail project-img bordered" alt="{{ image_alt }}" />

							{% if project.url %} <a href="{{ project.url }}"> {% endif %}
								<h3 class="project-headlines">{{ project.project_title }}</h3>
							{% if project.url %} </a> {% endif %}

							<div class="project-content">
								<div class="tag-holder">
									{% if project.tags %} 
										{% for j in project.tags  limit: 5 %}
											<span class="label tags tag-filter" data-tag="{{ j | downcase }}">{{ j }}</span>
										{% endfor %}
									{% endif %}
								</div>
							</div>

							<div class="project-footer"> 
								{% if project.url %} 
									<a href="{{ project.url }}" class="btn btn-info btn-raised btn-sm project-link">View</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

</article>
